*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input, textarea, select{
    background-color: rgb(230, 214, 221);
    border: none;
    border-radius: 5px;
}

.left-box{
    padding: 10px;
    /* margin-bottom: 0px; */
    
  
}

.left-box h2{
    margin-bottom: 10px;
}
.left-box .calculationInterpretations{
    color: green;
    font-weight: 700;
}

.item1{
    max-width: auto; 
    margin: "20px"; 
    padding: 20; 
    background-color: hsla(330, 66%, 77%, 1.00);
}
.item2{
    max-width: auto; 
    margin: "20px"; 
    padding: 20; 
    background-color: hsla(330, 66%, 77%, 1.00);
}
.item3{
    max-width: auto; 
    margin: "20px"; 
    padding: 20; 
    background-color: hsl(202, 100%, 80%);
}

.grid-container {
  display: grid;
  grid-template-columns: auto 39% auto;
  gap: 10px;
  padding-top: 60px;
  /* background-color: dodgerblue; */
  /* padding: 10px; */
}
fieldset{
    border-color: #9b114f;
    border-style: solid;
}
fieldset input{
    margin-bottom: 10px;
}


.pad-container {
  background-image: url("/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 1;
  /* padding: 20px; */
  /* color: #000; */
  background-size: 100%;
  border: none;

}
/* 
.prescription-container * {
  position: relative;
  z-index: 2;
} */

.pad-container p, ul{
    font-size: 14px;
}
.navHead button {
    background-Color: #9b114f;
    border: none;
    margin-Left:10px;
    padding: 8px 12px;
    font-Size: 14px;
    color:white; 
}

.toggle-buttons button{
    margin-Right: 8px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-Radius: 4px;
    margin: 10px 0 0 10px;
}

.left-box p{
    margin-bottom: 10px;
    
}
